/* Base Styles */
* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  overflow-x: hidden;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.dropdown-item.active, .dropdown-item:active {
  background-color: #fd6376;
}
.profile-tab .nav-pills {
  border-bottom: 1.5px solid #ccc !important;
}
.section-padding {
  padding-top: 7rem !important;
}
.universsity-page {
  gap: 1.5rem !important;
}
.universsity-page .uni_card {
  width: 16rem;
}
.scholarship-page {
  margin-top: 0px !important;
  padding-top: 0;
}
.navbar-toggler {
  font-size: 16px !important;
  color: #ff5573;
  background-color: transparent;
  border: 1px solid #ff5573;
}
.navbar-fiexd {
  position: fixed;
  width: 100%;
  background: #fff;
  box-shadow: 0 4px 8px rgb(0 0 0 / 6%);
  z-index: 9999;
}
.f_menu h5 {
  font-weight: 500 !important;
  font-size: 18px;
  margin-bottom: 20px;
}
.logo {
  width: 9rem;
}
.profile {
  width: 30px;
  height: 30px;
}
a {
  text-decoration: none;
  color: inherit;
}
.nav-link {
  font-size: 18px;
  font-weight: 600;
  line-height: 29.71px;
  letter-spacing: -0.2px;
  text-align: left;
  padding: 0 25px !important;
  color: rgba(51, 51, 51, 1) !important;
}
.nav-link:hover, .nav-link:focus, .nav-link:active {
  color: #ff5573 !important;
}
.home-page-container {
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
  max-width: 100%;
}
.top-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.content {
  width: 50%;
}
.title-home {
  font-size: 2.6rem;
  font-weight: 700;
  color: #ff5573;
  line-height: 55px;
}
.subtitle {
  color: #696969;
}
.explore-button {
  background-color: #ff5573 !important;
  color: white;
  border: none;
  padding: 7px 7px;
  border-radius: 5px;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  font-weight: 300 !important;
  font-size: 18px;
}
.detail_button {
  border: 1px solid #FFFFFF;
  padding: 0.6rem 2rem;
  border-radius: 60px;
  background-color: white;
  margin-right: 20px;
  box-shadow: 0px 4px 12px 0px #9999995C;
}
.active-tab-course {
  background-color: #FF5573 !important;
  color: #fff !important;
}
.image-container {
  width: 70%;
  text-align: right;
  padding: 3rem 0 0rem 3rem;
}
.image-container-2 {
  width: 70%;
  text-align: right;
  /* padding: 3rem 0 0rem 3rem; */
}
.main-image {
  max-width: 100%;
  height: auto;
  width: 100%;
}
.search_container {
  background-color: #FFF0F0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  border-radius: 12px;
  padding: 1.5rem;
}
.what-we-can-do::before {
  position: absolute;
  content: "";
  background: url("./assets/plan-icon.png") no-repeat;
  right: 0;
  z-index: 999;
  width: 300px;
  height: 100px;
}
.section_inner {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #a9a9a9;
  border-radius: 5px;
  background-color: yellow;
}
.section_inner > div {
  margin: 0;
  padding: 0;
  height: 100%;
  border-right: 1px solid #a9a9a9;
  display: flex;
  align-items: center;
  gap: 0.6rem;
}
.search_btn {
  background-color: #ff5573;
  border: none;
  padding: 1rem;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.search_container h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.search_container input {
  border: none;
  outline: none;
  background: transparent;
  font-size: 18px;
  height: 100%;
  width: 100%;
}
.search_icon {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.what-we-can-do {
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 0px;
  border-bottom: 1.5px solid rgb(228 228 228);
}
.what-we-can-do-title {
  color: #ff5573;
  font-weight: 600;
  margin-bottom: 1rem;
  font-size: 2rem;
}
.what-we-can-do-description {
  font-family: Gilroy-Medium;
  font-size: 18px;
  letter-spacing: 0.5px;
}
.what-we-can-do-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.4rem;
  margin: 3rem 0;
}
.frame-component {
  background-color: #fff;
  box-shadow: 0px 4px 20px 0px rgb(249 159 174 / 33%);
  padding: 1rem;
  gap: 0rem;
  color: #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.frame-component.rounded h6 {
  font-size: 18px;
  color: #000;
}
.frame-component-image {
  width: 100%;
  max-width: 230px;
  height: auto;
}
.frame-component.rounded {
  border-radius: 25px !important;
}
.frame-component-button {
  background-color: #ffff;
  font-weight: 500;
  color: #00949b;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 5px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.countries-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
}
.countries {
  width: 21.5rem;
  border-radius: 0.7rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.countries-image {
  width: 100%;
}
.countries-title {
  padding: 1rem;
  text-align: center;
  font-size: 1.5rem;
}
.view-all-button {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
.view-all-button .button {
  background-color: #ff5573;
  color: white;
  border: none;
  padding: 6px 10px 6px 20px;
  border-radius: 0.5rem;
  font-size: 1rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.button-icon {
  margin-left: 0.5rem;
}
.featured-university-container {
  border-top: 1px solid #c0c0c0;
  border-bottom: 1px solid #d3d3d3;
}
.br-t-0 {
  border-top: 0px !important;
}
.countries-container.gap-1.my-5 {
  gap: 1.8rem !important;
}
.countries-container.gap-1.my-5 .uni_card {
  width: 15.8rem;
}
.how-to-work .countries {
  box-shadow: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.how-to-work .card-content-how-it-work {
  text-align: center;
}
.card-content-how-it-work h6 {
  font-size: 18px;
}
.how-to-work .countries img {
  width: 70%;
  margin-bottom: 25px;
}
.university-card {
  cursor: pointer;
  border-radius: 4px;
  width: calc(21.25% - 0.8%);
  display: flex;
  flex-direction: column;
}
.university-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.card-info {
  padding: 16px;
  display: flex;
  width: 100%;
  font-weight: 500;
  justify-content: space-between;
  align-items: center;
}
.university-logo {
  height: 50px;
  width: 50px;
  background-color: #dcdcdc;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}
.university-name {
  font-size: 1rem;
  font-weight: bold;
}
.university-location {
  font-size: 0.875rem;
}
.card-content-how-it-work {
  padding: 10px 14px;
}
.what-student-says-container-what-student {
  max-width: 100%;
  padding: 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}
.title-what-student {
  font-size: 2rem;
  color: #333;
  width: 100%;
  text-align: left;
}
.description-what-student {
  font-size: 1rem;
  color: #666;
  text-align: left;
  margin-bottom: 32px;
  width: 100%;
}
.content-container-what-student {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.video-container-what-student {
  cursor: pointer;
}
.video-thumbnail-what-student {
  width: 100%;
  height: 400px;
  border-radius: 20px !important;
}
.youtube-video-what-student {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
.reviews-container-what-student {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 50%;
  max-width: 1028px;
}
.student-review-card-what-student {
  display: flex;
  gap: 10px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.student-image-what-student {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}
.review-content-what-student {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.student-name-what-student {
  font-size: 1.2rem;
}
.stars-what-student {
  display: flex;
  gap: 4px;
  margin: 5px 0;
}
.star-image-what-student {
  width: 16px;
  height: 16px;
}
.student-review-what-student {
  font-size: 0.9rem;
  text-align: left;
}
.faq_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.faq {
  width: 50%;
}
.my-faq-accordian {
  box-shadow: none !important;
}
.faq_img {
  width: 30%;
}
.footer {
  background-color: #ff5573;
  color: white;
  font-weight: 400;
  font-size: 18px !important;
}
.inner_footer {
  display: flex;
  justify-content: space-between;
}
.f_logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.foot_img {
  width: 8rem;
}
.foot_img img {
  width: 100%;
  object-fit: cover;
}
.f_menu {
  margin-top: 2rem;
}
.f_menu ul {
  margin: 0px;
  padding: 0px 0px 0px 25px;
}
.f_menu ul li {
  margin-bottom: 0.5rem;
  font-size: 16px;
}
.f_contact {
  width: 2rem;
  height: 2rem;
  display: flex;
  border-radius: 27%;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid white;
}
.f_contact img {
  width: 15px;
  height: 15px;
}
p {
  margin-bottom: 0 !important;
}
.course_head {
  background-color: rgb(255 240 240);
  padding: 10px;
  border-radius: 4px;
  margin-top: 1rem;
  width: 20rem;
}
.course_head_new {
  background-color: rgb(255 240 240);
  padding: 7px;
  border-radius: 20px;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  width: fit-content;
}
.min_height {
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.right_list {
  background-color: rgb(255 240 240);
  padding: 2rem;
  border-radius: 10px;
  margin-top: 2rem;
}
.pull-right {
  float: right;
}
.course_list {
  box-shadow: none !important;
  border: none !important;
  background-color: white !important;
  width: 18rem !important;
  padding: 1rem 10px;
  margin-top: 0.6rem;
}
.course_card {
  padding: 1.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}
.course_card2 {
  padding: 1.5rem;
  border-radius: 15px;
}
.course_card h4 {
  font-size: 16px;
  margin-bottom: 15px;
}
.course_card .inner_card p {
  font-size: 14px;
}
.compare_course {
  display: flex;
  justify-content: flex-end;
}
.inner_card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.inner_card_2 {
  justify-content: space-between;
  align-items: center;
}
.right_scholar {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.s_img_card img {
  width: 60%;
}
.s_img_card {
  background-color: #f3f3f33b;
  padding: 1rem;
  display: flex;
  border-radius: 18px;
  flex-direction: column;
  box-shadow: 0px 2.67px 8.01px 0px rgba(0, 0, 0, 0.11);
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 30px;
}
.s_img_card ul li {
  padding: 10px 0;
  border-bottom: 1px solid #00000054;
  font-size: 16px;
  text-align: left;
}
.s_img_card2 {
  background-color: #f3f3f33b;
  padding: 1rem;
  display: flex;
  border-radius: 18px;
  flex-direction: column;
  box-shadow: 0px 2.67px 8.01px 0px rgba(0, 0, 0, 0.11);
}
.s_img_card ul {
  padding-left: 0px !important;
}
.side-bar-img img {
  width: 120px !important;
}
.hilight-danger {
  color: #ff5573;
}
.blog-card {
  width: 100% !important;
  margin-bottom: 20px !important;
}
.ielts_container {
  width: 100%;
  height: 60vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("./assets/ilets-exam.png");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  color: black;
}
.sop_container {
  width: 100%;
  height: 60vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("./assets/sop.png");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  color: black;
}
.lor_container {
  width: 100%;
  height: 60vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("./assets/lor.png");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  color: black;
}
.insti_img {
  width: 100%;
}
.c_category {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.exam-bar img {
  width: 40px;
}
.right_scholar.exam-bar h4 {
  font-size: 15px;
}
.ielts_content h1 {
  font-size: 45px;
  font-weight: 600;
  letter-spacing: 2px;
}
.uni_card {
  width: 18rem;
}
.breadcrumb {
  background-color: #fff !important;
}
.custom-checkbox {
  border: 2px solid #FF5573 !important;
  border-radius: 5px;
  cursor: pointer;
}
.css-yuzg60-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
  background-color: #FF6477 !important;
  border-radius: 10px !important;
  margin-top: 5px !important;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  background-color: #fff !important;
}
.overview-container {
  border: 1px solid #ccc;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 5px;
}
.main-container {
  width: 100%;
}
.heading {
  margin-bottom: 20px;
}
.formField {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}
.formField label {
  flex: 1;
  text-align: left;
  margin-right: 10px;
}
.file-upload input[type="file"] {
  display: none;
}
.file-upload input[type="text"] {
  flex: 4;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
input[type="text"],
textarea {
  flex: 2;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.serch-profile {
  background: #ffc8ce;
  padding: 20px;
  border-radius: 14px;
  position: relative;
  height: 150px;
  margin-bottom: 2rem;
}
.serch-profile button {
  border: 1.5px solid #ff5573;
  background: #fff;
  color: #ff5573 !important;
  text-align: center;
  text-decoration: none;
  position: absolute;
  left: 43%;
}
textarea {
  resize: vertical;
}
.page-heading-title {
  font-family: Gilroy-Bold;
  font-size: 30px;
  font-weight: 300;
  line-height: 44px;
  text-align: left;
}
.AddMore {
  color: #FF5573;
}
.bg-highlight {
  background-color: #FF5573;
}
.text-highlight {
  color: #FF5573;
}
.unique-modal-form {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 400px;
}
.unique-modal-form-header {
  background-color: #ff8499;
  color: white;
}
.unique-modal-form-body {
  background-color: #ff8499;
  color: white;
}
.unique-modal-form-main .unique-modal-form-input {
  margin-bottom: 10px;
  border-radius: 5px;
}
.unique-modal-form-check {
  user-select: none;
}
.unique-modal-form-button {
  background-color: #fff !important;
  color: #ff8499 !important;
  border: none;
}
.modal-dialog {
  position: fixed;
  bottom: 0px;
  width: 400px;
  right: 10px;
}
.nav-link {
  font-family: Gilroy-Bold;
  font-size: 16px;
  font-weight: 300;
}

/* Responsive Styles */
/* @media (min-width: 1200px) {
  .container {
    max-width: 1242px !important;
    margin: 0 auto;
    padding: 0 15px;
  }
} */
@media (max-width: 1200px) {
  .course_card {
    min-width: 300px;
    width: 100%;
  }
  .inner_course {
    flex-direction: column;
    gap: 1rem;
  }
  .course_list {
    width: 100% !important;
  }
  .right_list {
    width: 100% !important;
  }
  .content-container-what-student {
    flex-direction: column;
  }
  .video-container-what-student {
    display: none;
  }
  .reviews-container-what-student {
    width: 100%;
  }
  .section_inner {
    flex-direction: column;
    gap: 2rem;
    padding: 10px;
    align-items: start;
    width: 100%;
  }
  .search_btn {
    width: 100%;
    border-radius: 5px;
  }
  .section_inner > div {
    border-right: none;
  }
  .ielts_container {
    height: 50vh;
  }
  .ielts_content h1 {
    font-size: 50px;
  }
}
@media (max-width: 900px) {
  .inner_footer {
    flex-direction: column;
  }
  .f_logo {
    align-items: start;
  }
}
@media (max-width: 768px) {
  .uni_card {
    width: 100%;
  }
  .countries {
    width: 100%;
  }
  .countries > img {
    width: 100%;
  }
  .profile {
    width: 2rem;
    height: 2rem;
    margin-left: 25px;
  }
  .inner_card {
    flex-direction: column;
    align-items: start;
  }
  .course_head {
    width: 100%;
  }
  .compare_course {
    display: flex;
    justify-content: center;
  }
  .faq_img {
    display: none;
  }
  .faq {
    width: 100%;
  }
  .reviews-container-what-student {
    grid-template-columns: 1fr;
  }
  .video-thumbnail-what-student {
    height: 450px;
  }
  .what-we-can-do-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .what-we-can-do-title {
    font-size: 1.6rem;
  }
  .search_container h3 {
    font-size: 1.5rem;
  }
  .title-home {
    font-size: 1.6rem;
  }
  .content {
    width: 100%;
  }
  .image-container {
    display: none;
  }
  .search_container {
    padding: 0.4rem;
  }
  .search_icon {
    width: 100%;
    height: 4rem !important;
  }
  .c_category {
    flex-direction: column;
    gap: 1rem;
  }
  .c_category > button {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .award_imgs img {
    width: 90%;
  }
  .what-we-can-do-grid {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 300px) {
  .course_card {
    min-width: 250px;
    padding: 1rem;
  }
  .ielts_content h1 {
    font-size: 30px;
  }
  .ielts_content h2 {
    font-size: 20px;
  }
  .explore-button {
    padding: 1rem;
    font-size: 12px;
  }
  .course_card h4 {
    font-size: 16px;
  }
}
input[type="date"] {
  font-family: 'Gilroy-Medium';
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 65%;
}
input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
  border: 2px solid #FF5573 !important;
}
@media (min-width: 1200px) {
  .container {
    max-width: 1242px !important;
  }
}

@media (max-width: 1200px) {
  .course_card {
    min-width: 300px;
    width: 100%;
  }
  .inner_course {
    flex-direction: column;
    gap: 1rem;
  }
  .course_list {
    width: 100% !important;
  }
  .right_list {
    width: 100% !important;
  }
  .content-container-what-student {
    flex-direction: column;
  }
  .video-container-what-student {
    display: none;
  }
  .reviews-container-what-student {
    width: 100%;
  }
  .section_inner {
    flex-direction: column;
    gap: 2rem;
    padding: 10px;
    align-items: start;
    width: 100%;
  }
  .search_btn {
    width: 100%;
    border-radius: 5px;
  }
  .section_inner > div {
    border-right: none;
  }
  .ielts_container {
    height: 50vh;
  }
  .ielts_content h1 {
    font-size: 50px;
  }
}

@media (max-width: 900px) {
  .inner_footer {
    flex-direction: column;
  }
  .f_logo {
    align-items: start;
  }
}

@media (max-width: 768px) {
  .uni_card {
    width: 100%;
  }
  .countries {
    width: 100%;
  }
  .countries > img {
    width: 100%;
  }
  .profile {
    width: 2rem;
    height: 2rem;
    margin-left: 25px;
  }
  .inner_card {
    flex-direction: column;
    align-items: start;
  }
  .course_head {
    width: 100%;
  }
  .compare_course {
    display: flex;
    justify-content: center;
  }
  .faq_img {
    display: none;
  }
  .faq {
    width: 100%;
  }
  .reviews-container-what-student {
    grid-template-columns: 1fr;
  }
  .video-thumbnail-what-student {
    height: 450px;
  }
  .what-we-can-do-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .what-we-can-do-title {
    font-size: 1.6rem;
  }
  .search_container h3 {
    font-size: 1.5rem;
  }
  .title-home {
    font-size: 1.6rem;
  }
  .content {
    width: 100%;
  }
  .image-container {
    display: none;
  }
  .search_container {
    padding: 0.4rem;
  }
  .search_icon {
    width: 100%;
    height: 4rem !important;
  }
  .c_category {
    flex-direction: column;
    gap: 1rem;
  }
  .c_category > button {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .award_imgs img {
    width: 90%;
  }
  .what-we-can-do-grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 300px) {
  .course_card {
    min-width: 250px;
    padding: 1rem;
  }
  .ielts_content h1 {
    font-size: 30px;
  }
  .ielts_content h2 {
    font-size: 20px;
  }
  .explore-button {
    padding: 1rem;
    font-size: 12px;
  }
  .course_card h4 {
    font-size: 16px;
  }
}

input[type="date"] {
  font-family: 'Gilroy-Medium';
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 65%;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
  border: 2px solid #FF5573 !important;
}
.countries-container-2 {
  display: flex;
  flex-wrap: nowrap;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 1200px) and (max-width: 1300px) {
  .container {
    max-width: 1060px !important;
  }
  .countries-container-2 {
    display: flex;
    /* flex-wrap: nowrap; */
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
}
.university-image {
  width: 100% !important;
  height: auto;
  object-fit: cover;
}

.uni_card {
  width: 15rem;
}

}
.react-tel-input .country-list {
  outline: none;
  z-index: 1;
  list-style: none;
  position: absolute;
  padding: 0;
  margin: 10px 0 10px -1px;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.35);
  background-color: #fff !important;
  width: 300px;
  max-height: 200px;
  overflow-y: scroll;
  border-radius: 0 0 3px 3px;
}
.trending-courses-carousel {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.course-card {
  width: 100%;
  max-width: 280px;
  margin: auto;
  border-radius: 10px;
}

.course-card-image {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;

}

.course-card-content {
  position: absolute;
  bottom: 10px;
  left: 10px;
  border-radius: 10px;

  color: #fff;
}

.view-details-button {
  background-color: #FF5573;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}


.dropdown-css{
  width: 280px;
    padding: 10px;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 4px;
}

.tab-link {
  color: black;
}

.tab-link.active-tab {
  color: #FF5573 !important;
}
a:hover {
  color: inherit;
  text-decoration: none;
}


.select__value-container{
  max-height: 35px;
  overflow: hidden !important;
}